.hover-el {
  opacity: 0;
  position: absolute;
  color: rgb(129, 234, 130);
  width: 100px;
  visibility: hidden;
  padding: 14px 3px;
  border: 1px solid rgb(129, 234, 130);
  transition: all 0.8s, 0.5s;
  font-weight: bold;
  border-radius: 20px;
  background-color: black;
}
.show-on-hover-left {
  right: 40px;
}
.show-on-hover-right {
  left: 40px;
}
.hover-parent:hover .show-on-hover-left,
.hover-parent:hover .show-on-hover-right {
  opacity: 1;
  visibility: visible;
}

@media only screen and (max-width: 600px) {
  .hover-parent:active .show-on-hover-left,
  .hover-parent:active .show-on-hover-right {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}
