.home-btn {
  background-color: #43a047;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  position: absolute;
  top: 25%;
  right: 2%;
}

.Container {
  justify-content: space-between;
}

.deck {
  justify-content: space-between;
}

.cards {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: repeat(6, 1fr);
}

.cards > * {
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .home-btn {
    top: 12%;
  }
}

.score {
  color: #5ee565;
  font-size: 1.5em;
}

.player-name {
  color: #5ee565;
  font-size: 1.5em;
}

.winner {
  color: rgb(53, 208, 53);
  font-size: 6em;
  text-align: center;
}
