@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Iceland&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  padding: 0%;
  margin: 0%;
} */

.App {
  background-image: url("assets/marvel-vs-dc-4k-iu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}
